:root {
    /* Surowe, oldschoolowe RGB */
    --black: #050505; /* Czysta czerń zamiast wchodzącej w brąz */
    --white: #e0e0e0;
    --muted: #777777; /* Czysta, wyprana szarość */
    --line: #333333;
    /* zielony i czerwony jest zamienione miejscami na razie po chciałem zobaczyć jak to będzie wyglądać */
    --green: #ff003c;
    --red: #00ff41;
    --blue: #0044ff; /* Nowy kolor dla trzeciego elementu mechaniki */
}
