:root {
    /* Surowe, oldschoolowe RGB */
    --black: #050505; /* Czysta czerń zamiast wchodzącej w brąz */
    --white: #e0e0e0;
    --muted: #777777; /* Czysta, wyprana szarość */
    --line: #e4e4e4;
    --red: #cd0000;
    --green: #00aa29;
    --blue: #0044ff; /* Nowy kolor dla trzeciego elementu mechaniki */
    --shadow: #1e1d1d;
}
